

.nav-link {
    color: black;
    font-size: larger;
}

.base{
    background-color: #FC96AF;
}

.accent{
    background-color: #52ECBC;
}

.bio-text{
    font-weight: 300;
    font-size: calc(1.75vw);
}